*.apk
*.ap_
*.aab
/build/
/.gradle/
/local.properties
.idea/
*.iml
.DS_Store
/app/build/
/app/.cxx/
*.jks
*.keystore
app/debug.keystore
app/src/main/assets/engine/katago_model.txt.gz
app/src/main/jniLibs/arm64-v8a/libc++_shared.so
app/src/main/jniLibs/arm64-v8a/libgnugo.so
app/src/main/jniLibs/arm64-v8a/libkatago_cpu.so
app/src/main/jniLibs/arm64-v8a/libkatago_gpu.so
jni/gnugo/config.log
.kotlin/
__pycache__/
jni/katago/models/**/*.txt.gz
